################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/4-digits-indicator/.vs/4-digits-indicator/v15
/4-digits-indicator/Debug
/4-digits-indicator/_ReSharper.Caches/ReSharperPlatformVs15183_1fd1fc7a.4-digits-indicator.00
/4-digits-indicator/__vm
