################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/4-digits-indicator/.vs/4-digits-indicator/v15
